<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>


<h2>Recipe Title: <%= recipe.title %></h2>
<h4>Description: <%= recipe.description %></h4>
<h4>Time to Cook (min): <%= recipe.minutes %></h4>

</br>
<h3>Ingredients:</h3>
<table class="table text-center" id="ingredientTable">
  <thead>
    <tr>
      <th class="text-center">Ingredient</th>
      <th class="text-center">Measurement</th>
      <th class="text-center">Quanity</th>
      <th class="text-center">Update Ingredient</th>
    </tr>
  </thead>
  <tbody>
    <% recipe.ingredients.forEach(function(ingredient){ %>
    <tr>
      <td><%= ingredient.name %></td>
      <td><%= ingredient.unit %></td>
      <td><%= ingredient.quantity %></td>
      <td><button class="delete" data-recipeid= "<%= recipe.id %>" data-ingredientid="<%= ingredient.id%>">Delete Ingredient</button><button class="update" data-recipeid= "<%= recipe.id %>" data-ingredientid="<%= ingredient.id%>">Edit Ingredient</button></td>

    </tr>
    <% }) %>
  </tbody>
</table>

<br/>
<br/>
<br/>

<h3>Instructions:</h3>
<table class="table text-center" id="instructionTable">
  <thead>
    <tr>
      <th class="text-center">Step Number</th>
      <th class="text-center">Instruction</th>
      <th class="text-center">Update Instruction</th>
    </tr>
  </thead>
  <tbody>
    <% recipe.instructions.forEach(function(instruction){ %>
    <tr>
      <td><%= instruction.stepNumber %></td>
      <td><%= instruction.instruction %></td>
      <td><button class="delete" data-recipeid= "<%= recipe.id %>" data-instructionid="<%= instruction.id%>">Delete Instruction</button><button class="update" data-recipeid= "<%= recipe.id %>" data-instructionid="<%= instruction.id%>">Edit Instruction</button></td>

    </tr>
    <% }) %>
  </tbody>
</table>


<div>
  <div class="container" >
    <form id="updateIngredientForm">
      <!-- <h4 class="text-center">Please complete the following information:</h4> -->
      <div class="form-group">
        <label for="ingredient_name">Ingredient</label>
        <input type="text" class="form-control" name="name" placeholder="Cheese">
      </div>
      <div class="form-group">
        <label for="ingredient_measurement">Measurement</label>
        <input type="text" class="form-control" name="unit" placeholder="Cup(s)">
      </div>
      <div class="form-group">
        <label for="ingredient_quantity">Quanity</label>
        <input type="number" class="form-control" name="quantity" placeholder="1">
      </div>
    </form>
  </div>
</div>

<div>
  <div class="container" >
    <form id="updateInstructionForm">
      <!-- <h4 class="text-center">Please complete the following information:</h4> -->
      <div class="form-group">
        <label for="instruction_step">Step</label>
        <input type="number" class="form-control" name="stepNumber" placeholder="1">
      </div>
      <div class="form-group">
        <label for="instruction_name">Instruction</label>
        <input type="text" class="form-control" name="instruction" placeholder="Melt the butter">
      </div>
    </form>
  </div>
</div>
